    /*justify-content alinea los elementos en el "MAIN AXIS"(eje principal)*/

.flexbox{
    display: flex;

    justify-content: space-between; /* start | end | center | space-between | space-around | space-evenly*/ 

    /* Start: Los elementos se agrupan al inicio del contenedor*/
    /* End: Los elementos se agrupan al final del contenedor*/
    /* Center: Los elementos se agrupan en el centro del contenedor*/
    /* Space-between: El primer elemento se alinea al inicio y el último al final, los demás se distribuyen equitativamente entre ellos*/
    /* Space-around: Los elementos se distribuyen equitativamente, con espacio alrededor de cada elemento. El espacio entre los elementos es el doble del espacio entre los elementos y los bordes del contenedor*/
    /* Space-evenly: Los elementos se distribuyen equitativamente con el mismo espacio entre ellos y los bordes del contenedor*/
}



/* align-items alinea los elementos en el "CROSS AXIS"(eje transversal)*/

.flexbox{
    align-items: center; /* flex-start | flex-end | center | baseline | stretch */

/* Flex-start: Los elementos se alinean al inicio del contenedor*/
/* Flex-end: Los elementos se alinean al final del contenedor*/
/* Center: Los elementos se alinean en el centro del contenedor*/
/* Baseline: Los elementos se alinean en la línea base del contenedor*/
/* Stretch: Los elementos se estiran para llenar el contenedor (valor por defecto)*/
}


/* align-content alinea las filas en el "CROSS AXIS"(eje transversal)*/
.flexbox{
    align-content: stretch; /* flex-start | flex-end | center | space-between | space-around | stretch */

/* Flex-start: Las filas se alinean al inicio del contenedor*/
/* Flex-end: Las filas se alinean al final del contenedor*/
/* Center: Las filas se alinean en el centro del contenedor*/
/* Space-between: La primera fila se alinea al inicio y la última al final, las demás se distribuyen equitativamente entre ellas*/
/* Space-around: Las filas se distribuyen equitativamente, con espacio alrededor de cada fila. El espacio entre las filas es el doble del espacio entre las filas y los bordes del contenedor*/
/* Stretch: Las filas se estiran para llenar el contenedor (valor por defecto)*/}


/* align-self alinea un elemento que tiene definida la propiedad align items dentro del contenedor, lo hace de forma individual y debe de darse al hijo, no al padre*/ 
/* Esta funciona solo cuando tenemos definida la propiedad align-items*/
.flexbox--item1{
    align-self: center; /* auto | flex-start | flex-end | center | baseline | stretch */

/* Auto: El elemento hereda el valor de align-items del contenedor padre (valor por defecto)*/
/* Flex-start: El elemento se alinea al inicio del contenedor*/
/* Flex-end: El elemento se alinea al final del contenedor*/
/* Center: El elemento se alinea en el centro del contenedor*/
/* Baseline: El elemento se alinea en la línea base del contenedor*/
/* Stretch: El elemento se estira para llenar el contenedor*/
}


































/* No tocar, solo ilustrativo*/
.flex-item{
    width: 180px;
    background-color: red;
    margin: 10px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.flex-item:first-child{
    background-color: blue;
}

.flex-item:last-child{
    background-color: green;
}

body{
    margin: 0;
}

.flexbox{
    border: 2px solid black;
    flex-flow: row wrap;
    height: 400px;
}

